.color-machine-0{ color: #ffffff; background-color: #444957;}
.color-machine-0-color{ color: #ffffff; }
.color-machine-0-background{ background-color: #444957; }
.color-machine-1{ color: #ffffff; background-color: #61738f;}
.color-machine-1-color{ color: #ffffff; }
.color-machine-1-background{ background-color: #61738f; }
.color-machine-2{ color: #000000; background-color: #7689a3;}
.color-machine-2-color{ color: #000000; }
.color-machine-2-background{ background-color: #7689a3; }
.color-machine-3{ color: #ffffff; background-color: #9d5955;}
.color-machine-3-color{ color: #ffffff; }
.color-machine-3-background{ background-color: #9d5955; }
.color-machine-4{ color: #000000; background-color: #c1c9d3;}
.color-machine-4-color{ color: #000000; }
.color-machine-4-background{ background-color: #c1c9d3; }
