.color-machine-0{ color: #c6c7c4; background-color: #1c1e13;}
.color-machine-0-color{ color: #c6c7c4; }
.color-machine-0-background{ background-color: #1c1e13; }
.color-machine-1{ color: #000000; background-color: #31a79c;}
.color-machine-1-color{ color: #000000; }
.color-machine-1-background{ background-color: #31a79c; }
.color-machine-2{ color: #ffffff; background-color: #617a63;}
.color-machine-2-color{ color: #ffffff; }
.color-machine-2-background{ background-color: #617a63; }
.color-machine-3{ color: #000000; background-color: #ebadb4;}
.color-machine-3-color{ color: #000000; }
.color-machine-3-background{ background-color: #ebadb4; }
.color-machine-4{ color: #000000; background-color: #ecc637;}
.color-machine-4-color{ color: #000000; }
.color-machine-4-background{ background-color: #ecc637; }
